[submodule "src/main/cpp/SoftEtherVPN"]
	path = src/main/cpp/SoftEtherVPN
	url = git@github.com:hoang-rio/SoftEtherVPN.git
[submodule "src/main/cpp/openssl"]
	path = src/main/cpp/openssl
	url = git@github.com:openssl/openssl.git
[submodule "src/main/cpp/libsodium"]
	path = src/main/cpp/libsodium
	url = git@github.com:jedisct1/libsodium.git
[submodule "src/main/cpp/SoftEtherVPN4"]
	path = src/main/cpp/SoftEtherVPN4
	url = git@github.com:hoang-rio/SoftEtherVPN_Stable.git
